@import "../mixins";
body{
  background-color: #32293D;
}

.qa{
  &-row{
    display: flex;
    justify-content: center;
    &.my{
      margin: 3rem 0;
    }
  }
}

.canvas {
  margin: 0 auto;
  padding-bottom: 180px;
  .cursor-pointer{
    margin-left: 80px;
  }
  @include breakpoint(small){
    width: 100%;
    height: 100%;
    background-color: #32293D;
  }
}
.talent-hint{
  position: fixed;
  top: 0;
  right: 0;
  width: 0px;
  height: 100vh;
  background-color: #F2F1F4;
  transition: 2s;
  &_close-btn{
    margin-left: auto;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 50px;

  }
  h2{
    padding-bottom: 2px;
  }

}