.message{
  &-close{
    display: block;
    .active{
      display: block;
    }
  }
  &-open{
    display: none;
    .active{
      display: block;
    }
  }

  &-main__box{
    background-color: white;
    border-radius: 8px;
    margin: 20px 0 0 35px;
    padding: 21px;
    img{
      border-radius: 10px!important;
      padding: 0;
      width: 45px;
    }
    &-search{
      justify-content: flex-end;
      .col-sm-6{
        text-align: end;
        img {
        margin-right: 16px;
        }
      }
    }
  }
}