$btnGreen: #0D9CED;
$headerTextColor: #1E2A3B;
$loginColor: #fafafa;
$searchBorderColor: #A1B0CC;
$searchBGColor:#F5F6F8;
$loginBGColor: #7C4E9A;
$mainTextColor: #323055;
$loginGrey: #757575;
$listColor: #584264;
$textGrey: #A6A6A6;
